<!DOCTYPE html>
<html>
  <head>
    <title>PlaceSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_container">
      <%unless user_signed_in?%>
        <%= render 'layouts/devise' %>
      <%end%>
      <div class="text-right">
        <% if user_signed_in? %>
          <%= link_to('Home', root_path) %> |
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        <% end %>
      </div>
    <%= render 'layouts/toastr' %>
    <%= yield %>
  </div>
  </body>
</html>
